@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

body{
   font: Arial, sans-serif;
   font-family: 'Roboto Condensed', sans-serif;
   text-align: center;
   background: darkgrey;
}
#piano {
  text-align: center;
}

#Contact {
  color:maroon;
  position: absolute; top:0; right:0;
}
#bullets li {
  list-style-type: none;
  text-align: center;
}

li {
  color: purple;
}

#car {
  color: lightblue;
  background: darkgrey;
}

#More_About_Me {
  font-size: 400%
}
#hi {
  color:darkblue;
}
}
#bio {

  color: lightblue;
}
#More_About_Me{

  color:lightblue;

}
