@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

body{
   font: Arial, sans-serif;
   font-family: 'Roboto Condensed', sans-serif;
}

li {
  color: purple;
}


#bio {
  background: yellow;
  color: blue;
}
#More_About_Me{
  background: yellow;
  color:blue;

}
